.app__header{
    background-color: var(--color-black);
}

.app__header-h1 {
    font-family: var(--font-base);
    color: var(--color-white);
    text-transform: camel-case;
    line-height: 80px;
    font-size: 50px;
}  

.app__header-h2 {
    font-family: var(--font-base);
    color: var(--color-white);
    text-transform: camel-case;
    line-height: 90px;
    font-size: 50px;
}  


.app__header-h2 {
    font-family: var(--font-base);
    color: var(--color-white);
    text-transform: camel-case;
    line-height: 90px;
    font-size: 40px;
}  


.app__header-img img{
    width: 80%;
}


@media screen and (max-width: 650px) {
    .app__header-h1 {
        font-size: 50px;
        letter-spacing: 0.04em;
        line-height: 65px;

    }

    
}
.p__playfair {
    font-family: var(--font-alt);
    font-weight: 500;
    font-size: large;
}

 .first-letter-highlight {


color: #e3a237; /* Ou use sua variável: var(--color-golden) */

font-size: 70px;

}


